*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #355664;
    color: #fff;
    width: 85%  ;
    margin: 0 auto; 
   
}
header h1, h3 ,h2{
    font-family: forte,Arial,sans-serif;
    padding: 10px 0 ;
}
header h1 {
    font-size: 70px;
    text-align: center;
}
header h3 {
    text-align: right;
    font-size: 30px;
}
nav ul{
    list-style: none;
}
nav a{
    color: #fff;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}
nav li{
    display: inline-block;
    padding: 5px;
}
nav li:first-child a{
    text-transform: lowercase;
    color: #7cb3e9 ;
}
nav a[title="sweet tabs"]{
    text-transform: capitalize;
    color: #8EC45B;
}
main article{
    background-color: #213e4a ;
    border-radius: 10px;
    overflow: auto;
    padding: 10px 20px;
}
article h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 10px;
}
article figure{
    width: 50%;
    float: right;

}
article img{
    width: 100%;
}
article p{
    margin: 10px 0;
}
article figure + p{
    color: #8EC45B;
}
div.article-content{
    border-top: 3px solid #416371;
    padding: 15px 0;
}
footer{
    clear: both;
    border-top: 3px solid #142830;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;

}