body {
    background-color: #e2d7aa;
    width: 85%;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}

nav ul {
    padding-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #0a2d4a;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: ‘Indie Flower’, cursive;
}

.img-container img {
    object-fit: cover;
    width: 100%;
}

main {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

article {
    width: 33.3%;
    text-align: justify;
}

article img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

article h2,
article h3 {
    text-align: center;
}

article h3 a {
    text-decoration: none;
}

article p::first-letter {
    font-family: EucrosiaUPC, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

article p:first-of-type {
    height: 278px;
    overflow-y: auto;
}

article span {
    background-image: url("picture/bg2.jpg");
}

.comments {
    padding: 8px 10px;
    border-radius: 3px;
}

.readmore {
    padding: 8px 10px;
    border-radius: 3px;
}

article span a {
    text-decoration: none;
    color: #fff;
}

article p:last-of-type span:first-of-type a::before {
    content: url("picture/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px 0 10px 0;
}